<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Not Supported</title>
</head>
<body>
    <div class="top-system-navbar">
        <div class="sn-1">
            <span>15:04</span>
        </div>
        
        <div class="sn-2">
            icons
        </div>
    </div>
https://www.figma.com/file/hJY9Ux430jQ1mFauzCFwBD/Nerd-Translator?type=design&node-id=1-2110&mode=design
    <div class="top-app-bar">
        <div class="ab-1">
            back arrow
        </div>

        <p class="ab-2">
            Nerd Translator
        </p>

        <div class="ab-3">
            favorites and settings icon
        </div>
    </div>

    <div class="system-message">
        <p>
            Selected language not supported
        </p>

        <div class="backgroung-img">

        </div>
    </div>

    <div class="bottom-system-navigation">

    </div>
</body>
</html>
